.board {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-image: linear-gradient(
    #ffcb05,
    #3d7dca,
    #003a70,
    #3d7dca,
    #ffcb05
  );
}
